.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    max-width: 1600px;
    margin: 0px auto;


}
 nav img{
    height:60px ;
    width: 139px;
    margin-left: 120px ;
 }

 nav ul{
    display: flex;
    gap: 32px;
    list-style: none;
    
 }
 nav ul a{
    text-decoration: none;
    color: black;
 }

 nav button{
    margin-right: 120px;
    padding: 12px 12px 12px;
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
 }