*{
    margin: 0px
}
.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    max-width: 1600px;
    margin: 0px auto;


}
 nav img{
    height:60px ;
    width: 139px;
    margin-left: 120px ;
 }

 nav ul{
    display: flex;
    gap: 32px;
    list-style: none;
    
 }
 nav ul a{
    text-decoration: none;
    color: black;
    font-size: 16px;
 }

 nav button{
    margin-right: 120px;
    padding: 12px 12px 12px;
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
 }
 
nav button:hover{
    background-color: #469165d3;
}
 .hero-section{
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1600px;
    width: auto;
    align-items: center;
    margin: 0px auto;
    text-align: center;
    padding-top: 70px;

 }

 .hero-text{
    padding: 8px 12px;
    background-color: #FFFFFF;
    border-radius: 100px;
    color: #469165;
    font-weight: 500;
    margin-bottom: 16px;

 }

 .hero{
    padding: 70px 120px 134px 120px;
 }
 .hero h1{
    font-weight: 700;
    color: #FFFFFF;
    font-size: 72px;
    margin-top: 16px;
 }
 .h1-green{
    color: #30B868;
 }

 .hero p{
    color: #FFFFFF;
    margin-top: 16px;
    font-size: 18px;
 }

 .circle{
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #469165;
 }

 .hero-button{
    display: flex;
    align-items: center;

    margin: 0 auto;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
 }

 .btn1{
    padding: 16px 12px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
 }
 .btn1:hover{
    background-color: #469165c0;
 }
 .btn2{
    padding: 16px 12px;
    border: 1px solid white;
    background: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
 }
 .btn2:hover{
    background-color: #e9e9e92a;
 }

 .Section2{
   max-width: 1600px;
   width: auto;
   align-items: center;
   text-align: center;
   background-color: white;
   margin: 0 auto;
 }
 
.hero-text2{
   
    padding: 0px 120px 120px 120px;
    padding-bottom: 16px;
    padding: 0px 50px;

}

.notes{
   font-size: 48px;
   font-weight: 600;
   padding-top: 30px;
}
 .notes-p{
   font-size: 16px;
   color: #627382;
   margin-top: 16px;
 }

 .card{
   width: 220px;
   height: 180px;
   padding: 20px;
   box-shadow: 2px 2px 2px 2px  rgba(0, 0, 0, 0.144);
   
 }
.card img{
   background-color: #F95555;
   border-radius: 50px;
   padding: 10px;
}
.card h4{
   margin-top: 16px;
   font-size: 24px;
}
 .all-card{
   display: flex;
   margin: 0 auto;
   justify-content: center;
   align-items: center;
   gap: 24px;
   margin-top: 44px;
   flex-wrap: wrap;
 }

 .knowlage{
   max-width: 1600px;
   width: auto;
   margin: 0 auto;
   justify-content: center;
   align-items: center;
 }

 .img-comp{
   display: flex;
   margin: 0 auto;
   justify-content: center;
   align-items: center;
   gap: 60px;
   padding: 120px;
 }
 .image img{
   border-radius: 12px;
 }


 .sidetext{
   color: #469165;
   font-size: 16px;
   font-weight: 500;
 }
 .component h4{
   font-size: 48px;
   margin-top: 16px;
   /* margin-right: 150px; */
 }



.knowlage-p{
   color: #627382;
   font-size: 16px;
   margin-top: 16px;
 }

 .p-4{
   margin-top: 40px;
   font-size: 16px;
   font-weight: 500;
 }

 .p-4 p{
   margin-top: 16px;
 }

 .check{
   color: #30B868;
 }


 